@import "tailwindcss";

@font-face {
    font-family: 'DidacGothic';
    src: url('/fonts/DIDACTGOTHIC-REGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'DidacGothic', sans-serif;
  }
  