@import "tailwindcss";

@font-face {
    font-family: 'Anybody';
    src: url('/fonts/ANYBODY-VARIABLEFONT_WDTH,WGHT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anybody';
    src: url('/fonts/ANYBODY-ITALIC-VARIABLEFONT_WDTH,WGHT.TTF') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'Anybody', sans-serif;
}
