---

---

<footer class="bg-gray-800 text-white py-4 mt-8">
  <div class="text-center">
    <p>&copy; 2025 DenisBets. Todos los derechos reservados.</p>
    <p>
      <a href="/privacy-policy" class="text-blue-400 hover:text-blue-600"
        >Política de privacidad</a
      > |
      <a href="/terms" class="text-blue-400 hover:text-blue-600"
        >Términos y condiciones</a
      >
    </p>
  </div>
</footer>
