---

---

<section class="text-white py-16 text-center min-h-screen relative">
  <div class="relative z-10">
    <h1 class="text-5xl font-bold mb-7">TIPSTER PREMIUM DE APUESTAS DEPORTIVAS</h1>
    <h2 class="text-3xl font-bold mb-7 text-[#61EBA9]">Tu camino hacia la rentabilidad empieza aquí</h2>
    <p class="text-xl mb-1 italic">
      Descubre los mejores pronósticos y estrategias de apuestas deportivas.
    </p>
    <p class="text-xl mb-8 italic">
      Aumenta tu rentabilidad y conviértete en un experto con la ayuda de un pronosticador profesional.
    </p>
  </div>
</section>
