---

---

<section class="text-white py-25 text-center min-h-screen relative px-4 md:px-12 lg:px-24">
  <div class="relative z-10">
    <h1 class="text-5xl font-bold mb-7 drop-shadow-[0_0_6px_grey]">TIPSTER PREMIUM DE APUESTAS DEPORTIVAS</h1>
    <h2 class="text-3xl font-bold mb-7 text-[#61EBA9] drop-shadow-[0_0_4px_grey]">
      Tu camino hacia la rentabilidad empieza aquí
    </h2>
    <p class="text-xl mb-1 italic drop-shadow-[0_0_4px_grey]">
      Descubre los mejores pronósticos y estrategias de apuestas deportivas.
    </p>
    <p class="text-xl mb-8 italic drop-shadow-[0_0_4px_grey]">
      Aumenta tu rentabilidad y conviértete en un experto con la ayuda de un pronosticador profesional.
    </p>
  </div>
</section>
